{{define "title"}}All articles{{end}}
{{define "scripts"}}
<link rel="stylesheet" href="/css/styles.css">
{{end}}
{{define "body"}}
{{if eq (len .) 0}}
Nothing to see here
{{end}}
{{range .}}

<div class="card" style="width: 80rem;">
    <img class="card-img-top img-fluid" src="{{.Image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <h8 class="card-title">{{.Date}}</h8>
        <p class="card-text">{{.GetExcerpt}}</p>
        <a href="/articles/{{.ID}}" class="btn btn-primary">Read More</a>
    </div>
</div>


<br />
{{end}}
{{end}}